<nav class="navbar navbar-expand-lg">
  <div class="container"> 
    <a class="navbar-brand" routerLink="/home">
      <img src="../../assets/images/logo2.png" alt="AZ CSERS Logo" class="logo"> <span class="brand-text">AZ CSERS</span> 
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto"> 
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/addtrainingcontent">Add Training Content</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/addquiz">Add a Quiz</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/quizzes">View Quizzes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/training-content">View Training Content</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/available-quizzes">View Available Quizzes</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
